<h1 class="bg-primary text-white p-4">Filter task</h1>

<div class="container mt-4">
  <div class="row">
    <!-- <div class="col-md-3 offset-md-3 mb-4">
      <select class="form-control">
        <option value="null"></option>
        <option value="">Search By Country</option>
        <option value="">Search By First name</option>
        <option value="">Search By Lst Name</option>
      </select>
    </div> -->
    <div class="col-md-6 mb-4">
      <input type="text" class="form-control" [(ngModel)]="slectedCountry">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sr no</th>
            <th>Name</th>
            <th>Team</th>
            <th>ODI Runs</th>
            <th>Test Runs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of playersArray | players : slectedCountry ; index as i">
            <td>{{i + 1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.team}}</td>
            <td>{{player.odi_runs}}</td>
            <td>{{player.test_runs}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>